<h1>Bienvenid@, {{user.first_name}}</h1>
<h2>Tus datos</h2>

<ul>
    <li>First Name: {{user.first_name}}</li>
    <li>Last Name: {{user.last_name}}</li>
    <li>Email: {{user.email}}</li>
    <li>Role: {{user.role}}</li>
</ul>

<a href="/users/logout-github">Logout</a>